.buttons {
    margin-top: 500px;
}

.links {
    position: fixed;
    width: 67%;
    margin-top: -100px;
}

.title {
    position: absolute;
    margin-top: -350px;
    width: 67%;
}

span#title {
  text-align: center;
  font-size: 5em;
  font-family: 'Monoton', cursive;

  background: linear-gradient(to right, #8c3fd0 25%, #0085ff 60%, #8c3fd0 100%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradtxt 10s linear infinite;
}
@keyframes gradtxt {
  to {
    background-position: 200% center;
  }
}

a.dropdown {
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

a.twitch {
    background-color: rgba(149, 28, 173, 0.77);
}

a.youtube {
    background-color: rgba(173, 28, 28, 0.9);
}
